<!-- heroku : https://dry-mountain-60898.herokuapp.com/ | https://git.heroku.com/dry-mountain-60898.git -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">

    <title>The Day Spa</title>
</head>

<body>

    <header>

        <h1>
            <a href="/" class="text-center"> Welcome to the Day Spa</a>
        </h1>

        <nav>
            <div class="d-flex justify-content-between ">

                <div class="dropdown show">
                    <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Schedule an Appointment
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Hair</a>
                        <a class="dropdown-item" href="#">Skin</a>
                        <a class="dropdown-item" href="#">Nails</a>
                    </div>

                </div>

                <div class="dropdown show">
                    <a class="btn dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Sign-In
                    </a>
                    <div class="dropdown-menu">
                        <form class="px-4 py-3">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                                    placeholder="email@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                                    placeholder="Password">
                            </div>

                            <button type="submit" class="btn btn-primary">Sign in</button>
                            <button type="submit" class="logoutbtn btn-secondary">Log Out</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="signup-form" href="/signUp">New around here? Sign up</a>
                        <a class="dropdown-item" href="#">Forgot password?</a>
                    </div>

                </div>
                <div class="dropdown show">
                    <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Contact Us
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">phone</a>
                        <a class="dropdown-item" href="#">email</a>
                    </div>
                </div>

                <div class="dropdown show">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Our Reviews
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Leave positive Feedback </a>
                        <a class="dropdown-item" href="#">Reviews</a>
                    </div>

                </div>
            </div>
            <button id="logout" class="logoutbtn">Log Out</button>

        </nav>


    </header>
    <main>

        <div class="d-flex justify-content-around">

            <div class="card text-center bg-light text-dark">
                <a href="#"
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cesar-martinez-perez-415/15min'});return false;"
                    class="btn-img btn-img-gradient">
                    <img class="card-img" src="/img/hair1.jpg" alt="Hair">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Hair</h5>

                        <p class="card-text">

                            Schedule an Appointment
                        </p>
                    </div>
                </a>
            </div>


            <div class="card text-center bg-dark text-dark img-gradient-overlay">
                <a href="0"
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cesar-martinez-perez-415/15min'});return false;"
                    class="mask near-moon-gradien">
                    <img class="card-img" src="/img/nail1.jpg" alt="Nails">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Nails</h5>
                        <p class="card-text"></p>
                        <p class="card-text"> Schedule an Appointment</p>
                    </div>
                </a>
            </div>

            <div class="card text-center bg-dark text-dark">
                <a href="01"
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/cesar-martinez-perez-415/15min'});return false;"
                    class="btn-img btn-img-gradient">
                    <img class="card-img" src="/img/skin1.jpg" alt="skin">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Skin</h5>
                        <p class="card-text"></p>
                        <span class="card-text align-text-bottom">Schedule an Appointment</span>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <h4>
            ❤️ Made with love.
            <div>
                &copy; 2021
                <script>new Date().getFullYear() > 2012 && document.write("-" + new Date().getFullYear());</script>, the
                Spa.
                All Rights Reserved.
            </div>
        </h4>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <script src="/javascript/logout.js"></script>

</body>

</html>