header {
    padding: 20px 35px;
    background-color: white ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    background-image: url("../img/jumbotron.jpg");
        
    background-size: cover;
    background-position: center 80%;
    background-attachment: fixed;
    z-index: 9999;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin: 0;
    text-shadow: 0 0 10px rgba( 0, 0, 0, 1.5 );
  }
  header a {
    text-decoration: none;
    color: black;
  }
  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba( 0, 0, 0, 1.5 );

  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  .card {
      background-color: white;
      display: flex;
      justify-content: space-around;
      border: 0;
  }