header {
    padding: 20px 35px;
    background-color: white ;
    display: flex;
    position: sticky;
    min-height: 210px;
    top: 0;
    background-image: url("/img/jumbotron.jpg");        
    background-size: auto;
    background-position: center 80%;
    background-attachment: inherit;
    z-index: 9999;


  }
  header h1 {
    font-family: cursive;
    font-weight: bold;
    font-size: 45px;
    color: black;
    margin: 0;
    text-shadow: 0 0 15px rgb(201, 193, 193);
    text-align: center;

    
  }
 a {
    text-decoration: none;
    color: black;
  }
  
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    bottom:0;
    right:0;
    background: transparent;
    
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar{ 
    position: absolute;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}
 
  .btn {
    background-color: transparent;
    color: black;
    border: none;
    font-size: x-large;
    font-family: cursive;
  }
.logoutbtn{
  background-color: transparent;
    color: black;
    border: none;
    font-size: medium;
    font-family: cursive;
  }

  header, .btn:hover, .logoutbtn:hover {
    border-radius: 15px;
    text-shadow: 0 0 10px rgba( 0, 0, 0, 1.5 );
    
    
  }

  .card {
      background-color: white;
      display: flex;
      justify-content: space-around;
      border: 0;
      margin-top: 10px;
  }

  .card-title {
      color: black;
      font-size: xx-large;
      font-family: cursive;
      text-shadow: 0 0 10px rgba( 0, 0, 0, 1.5 );
      
  }

  .card-text {
      color: black;
    font-family: cursive;
    text-shadow: 0 0 10px rgba( 0, 0, 0, 1.5 );
    
  }

  .card-text1 {
    color: black;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(236, 100, 75, 1.5);
  }

/* sign up card  */
.signupCard{
  margin: auto;
font-family: cursive;
color: black;
  border: black;
  border-radius: 5 px;
}

.card-header{
  font-size: 22px ;
}




/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 600px) { 
  .d-flex {
    display: flex!important;
    flex-direction: column;
  }

  .navbar{
    background-color: grey;
    padding: initial;
    border: #393838;
    border-radius: 5px;
  }
}