<section class="container">
  <h2>Leave A Review</h2>
  <form class="new-review-form">
    <div>
      <label for="review-title">Name</label>
      <input type="text" name="review-title" />
    </div>
    <div>
      <label for="review-body">Leave your comment below</label>
      <textarea class="form-control" name="review-body" rows="3"></textarea>

    </div>
    <button type="submit" class="review-btn btn-primary">Leave
      Review</button>

  </form>
</section>


{{!-- modal --}}
<div class="modal" tabindex="-1" role="dialog" id="modalError">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Sorry! that didn't work. try again!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

{{#if reviews.length}}
<section class="container">
  <h2>Your Reviews</h2>
  {{#each reviews as |review|}}
  {{> review-data review }}
  <a href="/reviews/edit/{{review.id}}" class="edit-link">Edit Review</a>
  {{/each}}
</section>
{{/if}}

<script src="/javascript/add-review.js"></script>